header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $super_black;
  padding: 45px 0;
}

.logo {
  width: 300px;
}

@include responsiveMax(800px)  {
  .logo {
    width: 250px;
  }
}

@include responsiveMax(470px)  {
  .logo {
    width: 180px;
  }
}